<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<false/>
	<key>destination</key>
	<string>export</string>
	<key>method</key>
	<string>ad-hoc</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>org.reactjs.native.ky.LawyerApp</key>
		<string>test03145</string>
	</dict>
	<key>signingCertificate</key>
	<string>4F64A62316A80705C19EB2D261CB0D9D02A4B034</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>T7N25URN4F</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
